<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Final Python/Django</title>
    <link type="text/css" href="{% static '/css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="welcome-container-principal" >

        <div class="welcome-container-title" >
            <div class="welcome-title" >
                <h1>Bienvenido a nuestro Blog App</h1>
                <div class="subrayado" ></div>
            </div>
            <div class="wolcome-gotoblog" >
                <a href="#">Ir al Blog</a>
            </div>
        </div>
        
        <div class="welcome-container-content" >
            <h2 class="welcome-container-content-title" >
                Proyecto Final Python / Django
            </h2>
            <div class="welcome-autores-container" >
                <h2>Autores del proyecto:</h2>
                <ul>
                    <li>De Oto, Marcelo</li>
                    <li>Demaio, Marco Pablo</li>
                </ul>
            </div>
        </div>

    </div>
</body>
</html>